@tailwind base;
@tailwind components;
@tailwind utilities;

.border-color {
  border: 1px solid #d4d4d8
}

.bg-color {
  background-color: white;
}

.bg-color:hover {
  background-color: #3f3f46
}

.bg-color-none {
  background-color: #3f3f46;
}
.text-color {
  color: #3f3f46
}

.text-color:hover {
  color: white;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.loader-1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid;
  border-color: white #00000010 #00000010 #00000010;
  position: relative;
  animation: spin 0.85s infinite linear;
}