@tailwind base;
@tailwind components;
@tailwind utilities;

.normal {
    background-color: rgb(113 113 122);
}
.fontc {
    color: rgb(110, 110, 110);
}
.borderline {
    border: solid 1px;
    color: rgb(212, 215, 221);
}
.fcolor {
    color: rgb(114, 114, 114);
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.loader-1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid;
  border-color: white #00000010 #00000010 #00000010;
  position: relative;
  animation: spin 0.85s infinite linear;
}